<div class="category-left">
    <div class="category-left__title">
        <img src="./img/svg/align-center-icon.svg" alt="icon">
        Categories
    </div>
    <ul class="category-left__sidebox ul-normalize">
        <li class="category-left__sidebox_item" >
            <a href="#" class="category-left__sidebox_link">
                Dog Collars
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Harnesses
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Leashes
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Suits
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Toys
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Treats
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Tugs
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Agitation whips
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Agitation sticks
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Sleeves
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                FDT Pro Clothing
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Training Clothing
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Training Dumbbells
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Training Equipment
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Kennel Accessories
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Choose muzzle by breed
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Pictures from customers
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog breeds
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
    </ul>
</div>