<div class="category-left">
    <div class="category-left__title">
        <img src="./img/svg/align-center-icon.svg" alt="icon">
        Categories
    </div>
    <ul class="category-left__sidebox ul-normalize">
        <li class="category-left__sidebox_item category-left__sidebox_item--submenu" >
            <a href="#" class="category-left__sidebox_link">
                Dog Collars
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
                </span>
            </a>
            <ul class="category-left__sidebox_item_dropdown-menu ul-normalize" role="menu"><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/anatolian-shepherd-c-397_386/"><span>Anatolian Shepherd</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/Anatolian_Shepherd.jpg" alt="Anatolian_Shepherd" title=" Anatolian_Shepherd " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/african-boerboel-mastiff-c-397_385/"><span>African Boerboel Mastiff</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/boerboel_mastiff.jpg" alt="boerboel_mastiff" title=" boerboel_mastiff " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/alaskan-malamute-c-397_197/"><span>Alaskan Malamute</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/alaskan_malamute.jpg" alt="alaskan_malamute" title=" alaskan_malamute " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/american-eskimo-dog-c-397_198/"><span>American Eskimo Dog</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/american_eskimo.jpg" alt="american_eskimo" title=" american_eskimo " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/australian-shepherd-c-397_204/"><span>Australian Shepherd</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/Australian_Shepherd.jpg" alt="Australian_Shepherd" title=" Australian_Shepherd " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/borzoi-c-397_224/"><span>Borzoi</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/borzoi.jpg" alt="borzoi" title=" borzoi " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/briard-c-397_159/"><span>Briard</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/briard.jpg" alt="briard" title=" briard " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/bulldog-c-397_177/"><span>Bulldog</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/bulldog.jpg" alt="bulldog" title=" bulldog " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/beagle-c-397_209/"><span>Beagle</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/beagle.jpg" alt="beagle" title=" beagle " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/bearded-collie-c-397_210/"><span>Bearded Collie</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/bearded_collie.jpg" alt="bearded_collie" title=" bearded_collie " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/belgian-sheepdog-c-397_214/"><span>Belgian Sheepdog</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/belgian_sheepdog.jpg" alt="belgian_sheepdog" title=" belgian_sheepdog " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/bernese-mountain-dog-c-397_216/"><span>Bernese Mountain Dog</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/bernese_mountain_dog.jpg" alt="bernese_mountain_dog" title=" bernese_mountain_dog " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/black-russian-terrier-c-397_219/"><span>Black Russian Terrier</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/black_russian_terrier.jpg" alt="black_russian_terrier" title=" black_russian_terrier " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/caucasian-shepherd-c-397_398/"><span>Caucasian Shepherd</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/caucasian_shepherd.jpg" alt="caucasian_shepherd" title=" caucasian_shepherd " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/chinese-sharpei-c-397_246/"><span>Chinese Shar-Pei</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/chinese_shar-pei.jpg" alt="chinese_shar-pei" title=" chinese_shar-pei " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/chow-chow-c-397_247/"><span>Chow Chow</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/chow_chow.jpg" alt="chow_chow" title=" chow_chow " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/cocker-spaniel-c-397_249/"><span>Cocker Spaniel</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/cocker_spaniel.jpg" alt="cocker_spaniel" title=" cocker_spaniel " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/collie-c-397_252/"><span>Collie</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/collie.jpg" alt="collie" title=" collie " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/dalmatian-c-397_160/"><span>Dalmatian</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/dalmatian.jpg" alt="dalmatian" title=" dalmatian " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/dogo-argentino-c-397_369/"><span>dogo argentino</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/dogo_argentino.jpg" alt="dogo_argentino" title=" dogo_argentino " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/fila-brasileiro-c-397_387/"><span>Fila Brasileiro</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/fila_brasileiro.jpg" alt="fila_brasileiro" title=" fila_brasileiro " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/golden-retriever-c-397_266/"><span>Golden Retriever</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/golden_retriever.jpg" alt="golden_retriever" title=" golden_retriever " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/old-english-mastiff-c-397_388/"><span>Old English Mastiff</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/english_mastiff.jpg" alt="english_mastiff" title=" english_mastiff " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/pointer-c-397_313/"><span>Pointer</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/pointer.jpg" alt="pointer" title=" pointer " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/poodle-c-397_317/"><span>Poodle</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/poodle.jpg" alt="poodle" title=" poodle " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/pyrenean-mastiff-c-397_389/"><span>Pyrenean Mastiff</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/pyrenean_mastiff.jpg" alt="pyrenean_mastiff" title=" pyrenean_mastiff " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/rhodesian-ridgeback-c-397_326/"><span>Rhodesian Ridgeback</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/rhodesian-ridgeback.jpg" alt="rhodesian-ridgeback" title=" rhodesian-ridgeback " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/saint-bernard-c-397_327/"><span>Saint Bernard</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/saint_bernard.jpg" alt="saint_bernard" title=" saint_bernard " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/shiba-inu-c-397_335/"><span>Shiba Inu</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/shiba_inu.jpg" alt="shiba_inu" title=" shiba_inu " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/spinone-italiano-c-397_341/"><span>Spinone Italiano</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/spinone-italiano.jpg" alt="spinone-italiano" title=" spinone-italiano " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/spanish-mastiff-dog-c-397_392/"><span>Spanish Mastiff Dog</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/spanish_mastiff.jpg" alt="spanish_mastiff" title=" spanish_mastiff " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/staffordshire-bull-terrier-c-397_343/"><span>Staffordshire Bull Terrier</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/Staffordshire_bull_terrier.jpg" alt="Staffordshire_bull_terrier" title=" Staffordshire_bull_terrier " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/tibetan-mastiff-c-397_348/"><span>Tibetan Mastiff</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/tibetan_mastiff.jpg" alt="tibetan_mastiff" title=" tibetan_mastiff " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/tosa-inu-c-397_393/"><span>Tosa Inu</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/tosa_inu.jpg" alt="tosa_inu" title=" tosa_inu " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/weimaraner-c-397_355/"><span>Weimaraner</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/weimaraner.jpg" alt="weimaraner" title=" weimaraner " width="190" height="143" class="b-lazy b-loaded"></span></a></li><li class="category-left__sidebox_item_dropdown-menu_item">
                <a class="category-left__sidebox_item_dropdown-menu_link" href="https://www.fdt-dog-supplies.com/fdt/wirehaired-pointing-griffon-c-397_361/"><span>Wirehaired Pointing Griffon</span><span class="category-left__sidebox_item_dropdown-menu_wrapper"><img src="https://www.fdt-dog-supplies.com/fdt/images/categories/wirehaired_pointing_griffon.jpg" alt="wirehaired_pointing_griffon" title=" wirehaired_pointing_griffon " width="190" height="143" class="b-lazy b-loaded"></span></a></li></ul>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Harnesses
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
                </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Leashes
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Suits
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Toys
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Treats
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Tugs
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Agitation whips
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Agitation sticks
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Bite Sleeves
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                FDT Pro Clothing
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Training Clothing
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Training Dumbbells
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog Training Equipment
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Kennel Accessories
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Choose muzzle by breed
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Pictures from customers
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
        <li class="category-left__sidebox_item">
            <a href="#" class="category-left__sidebox_link">
                Dog breeds
                <span class="material-icons category-left__sidebox_icon">
                keyboard_arrow_right
            </span>
            </a>
        </li>
    </ul>
</div>