<div class="dropdown-cart">
    <div class="container">
    <div class="dropdown-cart__header">
        RECENTLY ADDED ITEM(S)
        <a class="dropdown-cart__header__close" href="#">
        <span class="dropdown-cart__header__close_icon" >
            close
        </span>
            <span class="dropdown-cart__header__close_mob">Close</span>
        </a>
    </div>
    <div class="dropdown-cart__content">
            <ul class="dropdown-cart__list ul-normalize">
                <li class="dropdown-cart__item">
                    <a class="dropdown-cart__image">
                        <img src="./img/product_image.jpg" alt="">
                    </a>
                    <div class="dropdown-cart__name">
                        <h2>Extra Durable 2 Ply Leather Dog Collar with Handle</h2>
                        <div class="dropdown-cart__name_details">
                            <a href="#">Details</a>
                        </div>
                    </div>
                    <div class="dropdown-cart__info">
                        <div class="dropdown-cart__info_qty">1</div>
                         <div class="dropdown-cart__info_price">
                             Price:
                             <span><strong>29.90$</strong></span>
                         </div>
                    </div>
                    <div class="dropdown-cart__delete">
                        <img src="./img/svg/dropdown-delete-icon.svg" alt="">
                    </div>
                </li>
            </ul>
        </div>

        <div class="dropdown-cart__footer">
         <div class="dropdown-cart__footer_total">
             Sub-Total:
             <span>
                 <strong>$39.90</strong>
             </span>
         </div>
         <div class="dropdown-cart__footer_btns">
             <a class="btn btn--primary btn--dropdown-cart">
                 <img src="./img/svg/cart-icon.svg"  alt="">
                 View Cart
             </a>
             <a class="btn btn--primary btn--dropdown-checkout">
                 <img src="./img/svg/cart-right.svg"  alt="">
                 Checkout
             </a>
         </div>
     </div>







    </div>
</div>