<div class="dropdown-cart">
    <div class="container">
    <div class="dropdown-cart__header">
        RECENTLY ADDED ITEM(S)
        <a class="dropdown-cart__header__close" href="#">
        <span class="dropdown-cart__header__close_icon" >
            close
        </span>
            <span class="dropdown-cart__header__close_mob">Close</span>
        </a>
    </div>

     <div class="dropdown-cart__footer">
        <div class="dropdown-cart__footer_empty-cart">
        You have no items in your shopping cart
        </div>

     </div>
    </div>
</div>