
<div class="filters-backdrop"></div>
<div class="filters">
    <div class="filters__title">
        <img src="./img/svg/filter-icon.svg" alt="icons">
        FILTERS
    </div>
    <form class="filters__form">
        <span class="filters__form__close">
            close
        </span>
        <input type="hidden" name="main_page" value="index">
        <input type="hidden" name="cPath" value="4">
        <div class="filters__tab">
            <div class="filters__tab_name">
                Price
            </div>
            <ul class="filters__list ul-normalize">
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">$3 - $13</span>
                    </label>
                </li>
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">$13 - $23</span>
                    </label>
                </li>
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">$13 - $23</span>
                    </label>
                </li>
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">$13 - $23</span>
                    </label>
                </li>
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">$43 - $53</span>
                    </label>
                </li>
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">$73 and over</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="filters__tab">
            <div class="filters__tab_name">
                Color
            </div>
            <ul class="filters__list ul-normalize">
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">Black</span>
                    </label>
                </li>
                <li class="filters__item">
                    <label class="filters__label" >
                        <input type="checkbox">
                        <span class="filters__label_custom-box"></span>
                        <span class="filters__value">Brown</span>
                    </label>
                </li>
            </ul>
        </div>

    </form>

</div>
