<footer class="footer">
   <div class="container">
    <ul class="social">
        <li class="social__item">
            <a href="#" class="social__link">
                <img src="./img/svg/facebook.svg" alt="facebook">
            </a>
        </li>

        <li class="social__item">
            <a href="#" class="social__link">
                <img src="./img/svg/twitter.svg" alt="twitter">
            </a>
        </li>

        <li class="social__item">
            <a href="#" class="social__link">
                <img src="./img/svg/pinterest.svg" alt="pinterest">
            </a>
        </li>

        <li class="social__item">
            <a href="#" class="social__link">
                <img src="./img/svg/youtube.svg" alt="youtube">
            </a>
        </li>

        <li class="social__item">
            <a href="#" class="social__link">
                <img src="./img/svg/instagram.svg" alt="instagram">
            </a>
        </li>
    </ul>
    <div class="footer__information">
        <div class="collapse">
            <h4 class="collapse__title">
                INFORMATION

                <span class="material-icons collapse__icon">
                    keyboard_arrow_right
                </span>
            </h4>
            <div class="collapse__content">
                <ul class="collapse__list ul-normalize">
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Shipping Info</a>
                    </li>
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Privacy Policy</a>
                    </li>
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Return Policy
                        </a>
                    </li>
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Conditions of Use
                        </a>
                    </li>
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Site Map
                        </a>
                    </li>
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse">
            <h4 class="collapse__title">
                MY ACCOUNT

                <span class="material-icons collapse__icon">
                    keyboard_arrow_right
                </span>
            </h4>
            <div class="collapse__content">
                <ul class="collapse__list ul-normalize">
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Order History
                        </a>
                    </li>
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Change Password
                        </a>
                    </li>
                    <li class="collapse__list_item">
                        <a class="collapse__list_link" href="#">Create Account
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="collapse">
            <h4 class="collapse__title">
                FAQ
                <span class="material-icons collapse__icon">
                    keyboard_arrow_right
                </span>
            </h4>
            <div class="collapse__content">
                <ul class="collapse__list ul-normalize">
                    <li class="collapse__list_item collapse__list_item--faq">
                        <a class="collapse__list_link" href="#">Best choice of dog leashes - </a>
                       <span> dog leashes of any size and for any task - walking leashes, training dog leashes</span>
                    </li>
                    <li class="collapse__list_item collapse__list_item--faq">
                        <a class="collapse__list_link" href="#">Best choice of dog leashes - </a>
                        <span> dog leashes of any size and for any task - walking leashes, training dog leashes</span>
                    </li>
                    <li class="collapse__list_item collapse__list_item--faq">
                        <a class="collapse__list_link" href="#">Best choice of dog leashes - </a>
                        <span> dog leashes of any size and for any task - walking leashes, training dog leashes</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <span class="footer__copyright_link">Powered by <a href="#">fordogtrainers.com</a></span>
        <div class="payment-wrapper payment-wrapper--footer ">
            <img
                    src="../img/payment.png"
                    alt="payment"
                    class="payment-wrapper__img"
            />
        </div>
    </div>
   </div>
</footer>