<div class="product-description-desktop-wrapper">
    <nav class="description-navigation">
       <ul class="ul-normalize description-navigation__list">
           <li class="description-navigation__item">
               <a href="#" class="description-navigation__link" >
                   Description
               </a>
           </li>
           <li class="description-navigation__item">
               <a href="#" class="description-navigation__link" >
                   Shipping and Returns
               </a>
           </li>
           <li class="description-navigation__item">
               <a href="#" class="description-navigation__link" >
                   How to measure your dog
               </a>
           </li>
           <li class="description-navigation__item">
               <a href="#" class="description-navigation__link" >
                   Reviews <span class="customer-reviews__count">(3)</span>
               </a>
           </li>
       </ul>
    </nav>
    <div class="product-description">
        <div class="product-description_info">
            <h2 class="product-description-title-bg ">Agitation leather dog collar with handle, 2 ply leathers</h2>
            <div class="product-description_content">
                <div class="product-description_iframe" >
                    <img src="./img/youtube-img.jpg" alt="" class="product-images-centered">
                </div>

                <p>
                    Dear dog's owner, thank you for visiting this page. You are most likely looking for Strong Leather Collar for your beloved dog. Just look at this Super Durable Leather Collar with Handle! It may be exactly what you are looking for. Adjustable, with sturdy fittings and fur protection plate. Aren't these features what every caring dog's owner look for?
                </p>

                <div class="product-description_image">
                    <img  src="./img/description-img-1.png"  alt="" class="product-images-centered">
                </div>

                <p>
                    Dear dog's owner, thank you for visiting this page. You are most likely looking for Strong Leather Collar for your beloved dog. Just look at this Super Durable Leather Collar with Handle! It may be exactly what you are looking for. Adjustable, with sturdy fittings and fur protection plate. Aren't these features what every caring dog's owner look for?
                </p>

                <div class="product-description_image">
                    <img  src="./img/description-img-1.png"  alt="" class="product-images-centered">
                </div>

                <div class="product-description_image">
                    <img  src="./img/description-img-1.png"  alt="" class="product-images-centered">
                </div>

                <div class="product-features">
                    <div class="product-features__content">
                        <div class="product-features__wrapper">
                            <div class="product-features__title">
                                <img src="./img/svg/mark.svg" alt="cursor">
                                <span>Key features of this Dog Collar:</span>
                            </div>
                            <ul class="product-features__list ">
                                <li class="product-features__item ">100% full grain genuine leather</li>
                                <li class="product-features__item ">Extra strong</li>
                                <li class="product-features__item ">Increased durability</li>
                                <li class="product-features__item ">Adjustable</li>
                                <li class="product-features__item ">2 ply leather</li>
                                <li class="product-features__item ">Brass buckle and D-ring</li>
                                <li class="product-features__item ">Fur protection plate</li>
                                <li class="product-features__item ">Soft grip handle</li>
                            </ul>
                        </div>
                        <div class="product-features__wrapper">
                            <div class="product-features__title">
                                <img src="./img/svg/mark.svg" alt="cursor">
                                <span>Intended use of this Dog Collar:</span>
                            </div>
                            <ul class="product-features__list ">
                                <li class="product-features__item ">Attack/protection training</li>
                                <li class="product-features__item ">Obedience training</li>
                                <li class="product-features__item ">Off leash training</li>
                                <li class="product-features__item ">Safe walking</li>
                                <li class="product-features__item ">Agitation training</li>
                            </ul>
                        </div>
                        <div class="product-features__wrapper">
                            <div class="product-features__title">
                                <img src="./img/svg/mark.svg" alt="cursor">
                                <span>Sizes available:</span>
                            </div>
                            <ul class="product-features__list ">
                                <li class="product-features__item ">Over 15 sizes</li>
                                <li class="product-features__item ">Width - 45 mm ( 1 3/4 inch)</li>
                            </ul>
                        </div>
                        <div class="product-features__wrapper">
                            <div class="product-features__title">
                                <img src="./img/svg/mark.svg" alt="cursor">
                                <span>Available colors:</span>
                            </div>
                            <ul class="product-features__list ">
                                <li class="product-features__item ">Black</li>
                                <li class="product-features__item ">Brown</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="product-description_image">
                    <img  src="./img/description-img-1.png"  alt="" class="product-images-centered">
                </div>

                <div class="product-description__highlighted">
                    <h3>Here is the short description of some Collar's features:</h3>
                    <ul class="product-description__highlighted_list">
                        <li>
                            <b>It's made of high-quality leather.</b>
                            No matter if we are looking for cloth, shoes, etc., one of the main criterion is quality. This Collar is made of 100% full grain leather and will serve your dog for years.
                        </li>
                        <li>
                            <b>It's made of high-quality leather.</b>
                            No matter if we are looking for cloth, shoes, etc., one of the main criterion is quality. This Collar is made of 100% full grain leather and will serve your dog for years.
                        </li>
                        <li>
                            <b>It's made of high-quality leather.</b>
                            No matter if we are looking for cloth, shoes, etc., one of the main criterion is quality. This Collar is made of 100% full grain leather and will serve your dog for years.
                        </li>
                        <li>
                            <b>It's made of high-quality leather.</b>
                            No matter if we are looking for cloth, shoes, etc., one of the main criterion is quality. This Collar is made of 100% full grain leather and will serve your dog for years.
                        </li>
                    </ul>
                </div>

                <div class="product-description_iframe" >
                    <img src="./img/youtube-img.jpg" alt="" class="product-images-centered" >
                </div>

            </div>
        </div>

        <div class="product-description_info">
            <h2 class="product-description-title-bg ">How to measure your dog for good fit Collar</h2>
            <div class="product-description_content">
                <div class="product-description_image">
                    <img  src="./img/measure.png"  alt="" class="product-images-centered">
                </div>
                <div class="product-description__highlighted">
                    <h3>Please be advised that:</h3>
                    <ul class="product-description__highlighted_list">
                        <li>
                            For buckle collar when you specify neck size we will make collar fit on central hole.
                        </li>
                        <li>
                            There will be total of 5 holes and distance between each 2 holes is 1 inch (25 mm).
                        </li>
                        <li>
                            For example: your dogs neck size is 20 inches (50 cm). Collar will fit on central hole at 20 inches (50 cm).
                        </li>
                        <li>
                            There will be 2 smaller size holes - 18 inch (45 cm) and 19 inch (47.5 cm).
                        </li>
                        <li>
                            There will also be tip of the collar after last hole about 4 inch long (10 cm).
                        </li>
                        <li>
                            Those are handcrafted collars and some sizes will differ a little (not in significant way).
                        </li>
                        <li>
                            2 ply leather collars and padded leather collars are 2 inch bigger flat on the table to make sure that it will  fit your dog.
                        </li>
                    </ul>
                </div>



            </div>
        </div>

        <div class="customer-reviews">
            <h4 class="customer-reviews__title product-description-title-bg ">Customer Reviews (<span class="customer-reviews__count">3</span>)</h4>
            <ul class="customer-reviews-list ul-normalize">
                <li class="customer-reviews-list_item">
                    <div class="customer-reviews-list_about">
                        <span><b>Gary Wark</b></span>
                        Date Added: <time datetime="08/03/2016">08/03/2016</time>
                    </div>
                    <div class="rating rating--product-reviews">
                        <ul class="rating__list ul-normalize">
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star"></li>
                        </ul>
                    </div>
                    <div class="customer-reviews-list_review">
                        Hi, I have just shown your harness I have to a major pet store that has stores in Australia and New Zealand. You product is so much better then anything we have so if ""Pet Stock"" come knocking at your door and start to buy from you Please dont forget me.
                    </div>
                </li>
                <li class="customer-reviews-list_item">
                    <div class="customer-reviews-list_about">
                        <span><b>Gary Wark</b></span>
                        Date Added: <time datetime="08/03/2016">08/03/2016</time>
                    </div>
                    <div class="rating rating--product-reviews">
                        <ul class="rating__list ul-normalize">
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star rating__item--filled"></li>
                            <li class="rating__item rating__item--icon-star"></li>
                        </ul>
                    </div>
                    <div class="customer-reviews-list_review">
                        Hi, I have just shown your harness I have to a major pet store that has stores in Australia and New Zealand. You product is so much better then anything we have so if ""Pet Stock"" come knocking at your door and start to buy from you Please dont forget me.
                    </div>
                </li>
            </ul>
            <div class="customer-reviews__btn">
                <a href="#" class="btn btn--primary btn--review">
                    <img src="./img/svg/review-icon.svg" alt="">
                    Write Review
                </a>
            </div>
        </div>
    </div>
</div>