@import "../mixins";
.header {

  &__top {
    background-color: $light-dark;
    

    &_wrapper {
      padding: 0 15px;
      @include flex();
    }
  }

  &__middle {
    padding: 12px 15px 24px;
    background: linear-gradient(90deg, #333333 0%, #252525 100%);
    &_contact {
      display: none;
      padding: 0 10px;
      @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &_wrapper {
      @include flex();
    }
    &_image {
      display: none;
      @media screen and (min-width: 900px){
        display: block;
      }
      flex: 0 1 38%;
    }
  }

  &__bottom {
    padding: 12px 15px;
    background-color: #252525;
    &_wrapper {
      @include flex();
      position: relative;
    }
  }
}

.account {
  padding: 12px 0px 8px;
  &__list {
    display: flex;
    flex-flow: row nowrap;
  }
  &__item + &__item {
    padding-left: 15px;
    display: none;
    @media screen and (min-width: 900px){
      display: block;
    }
  }
  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;

    &_title {
      display: none;
      @media screen and (min-width: 900px) {
        display: block;
        color: #fff;
      }
    }

    &::before {
      color: rgba($color: $secondary-color, $alpha: 0.8);
      padding-right: 5px;
    }
    &--icon-account {
      &:before {
        content: "\e7ff";
        font-size: 3.4rem;
      }
    }

    &--icon-checkout {

      &:before {
        content: '\e876';
        font-size: 3.4rem;
      }
    }

    &--icon-log-in {

      &:before {
        content: '\e890';
        font-size: 3.4rem;
      }
    }
  }
}

.cart {
  text-decoration: none;
  display: flex;
  padding: 15px 16px 10px;
  border: $border-width solid rgba($color: $secondary-color, $alpha: 0.21);
  border-radius: 2px;

  &__text {
    align-self: flex-end;
    color: $secondary-color;
    font-weight: 600;
  }

  &__wrapper {
    position: relative;

    &_count {
      @include posA($top: -7px, $left: 50%, $delta_x: -15%, $delta_y: -30%);
      font-weight: 600;
      font-size: 1.8rem;
      color: $primary-color;
    }
  }
}

.mobile-menu {
  display: flex;
  align-items: center;
  z-index: 10;
 
  text-decoration: none;

  @media screen and (min-width: 900px) {
    display: none;
  }

  &_item {
    position: relative;
    width: 28px;
    height: 3px;
    background: $secondary-color;
    display: block;
    transition: 0.5s;
    &:not(:nth-last-child(1)) {
      margin-bottom: 6px;
    }
  }
  &_text {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 2.3rem;
    color: $secondary-color;
    font-weight: 600;
    margin-left: 13px;
  }
}

.menu-list {
  display: none;
  list-style: none;
  padding: 5px 0;
  margin: 0 0 0 60px;

  @media screen and (min-width: 900px){
    display: flex;
  }
  &__item + &__item {
    padding-left: 10px;
  }
  &__link {
    color: #fff;
    text-decoration: none;

    &--dropdown {
      display: flex;
    }
  }
  &__icon {
    font-family: 'Material Icons';
    line-height: 0.8;
    font-size: 20px;
  }
}
.contact-information {
  color: #fff;
  padding-top: 5px;
}
.contact-list {

display: none;
  @media screen and (min-width: 900px){
    display: flex;
  }
  &__item + &__item {
    padding-left: 10px;
  }
 &__link {
   color: #fff;
   display: flex;
   align-items: center;
   font-size: 1.8rem;
   text-decoration: none;
   span {
     display: inline-flex;
     padding: 0 5px;
   }
 }
}

.dropdown-cart {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  background-color: #303030;
  z-index: 20;
  padding: 20px 20px 50px;
  will-change: transform;
  transform: translateY(-100%);
  @media screen and (min-width:900px) {
    padding: 20px;
  }
  @media screen and (min-width:900px) {
    max-height: 80vh;
    overflow-y: scroll;
  }
  @include tr();
  &.dropdown-cart--open {
    transform: translateY(0);
    @include tr();
  }

  &__header {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    @media screen and (min-width: 900px) {
      position: relative;
    }
    padding: 10px 0;

    @media screen and (min-width: 900px) {
      text-align: left;
      margin-bottom: 20px;
    }

    &__close {
      @include posA($top:auto,$left:50%,$delta_x:-50%,$delta_y:-50%);
      bottom: 0;
      right: -15px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;color:#fff;
      @media screen and (min-width: 900px) {
        @include posA($top:50%,$left:auto,$delta_x:-50%,$delta_y:-50%);
      }
      &_icon {
        font-family: 'Material Icons';
        font-weight: 500;
        font-size: 3rem;
      }
      &_mob {
        display: inherit;
        @media screen and (min-width:900px) {
          display: none;
        }
      }

    }
  }

  &__content {
    padding-bottom: 15px;
  }

  &__item {

    position: relative;

    @media screen and (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    & + & {
      margin-top: 25px;
    }

  }

  &__delete {
    @include posA($top:35%,$left:auto,$delta_x:-50%,$delta_y:-50%);
    right: -10px;

    @media screen and (min-width: 900px) {
      position: static;
      width: 40px;
    }
  }

  &__image {
    display: inline-block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: 1px solid rgba(#fff, .3);
    border-radius: 3px;
    @media screen and (min-width: 900px) {
      width: 150px;
      height: 150px;
    }
    img {
      object-fit: cover;
      @media screen and (min-width: 900px) {
        min-height: 100%;
        min-width: 100%;
      }

    }
  }

  &__name {
    display: inline-block;
    max-width: 170px;
    vertical-align: top;
    @media screen and (min-width: 900px) {
      align-self: flex-start;
      padding-left: 15px;
      max-width: none;
      margin-right: auto;
    }

    &_details {
      display: none;
      @media screen and (min-width: 900px) {
        display: block;
        position: absolute;
        bottom: 0;
        a {
          color: #FF7900;
        }
      }
    }

    h2 {
      margin: 0;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      @media screen and (min-width: 900px) {
        margin: 0 0 20px;
        max-width: 272px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 900px) {
      margin-right: auto;
    }
    &_qty {
      color: #fff;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid rgba(#fff, .3);
      border-radius: 3px;
      margin-right: 30px;
      @media screen and (min-width: 900px) {
        height: 40px;
        width: 50px;
        line-height: 40px;

      }
    }

    &_price {
      color: #fff;
      font-size: 1.8rem;
    }

  }

  &__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    @media screen and (min-width:900px) {
      border-top: 1px solid #E3E3E3;
      border-bottom: none;
    }
    padding-top: 10px;
    &_total {
      color: #fff;
      font-size: 2rem;
      span {
        color: #FF7900;
      }
    }
    &_btns {
      padding: 10px 0 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      @media screen and (min-width: 900px) {
        justify-content: space-between;
      }

    }
    &_empty-cart {
      padding: 12px 0 22px;
      text-align: center;
      color: #FF7900;
      font-size: 1.7rem;
    }
  }
}
