@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');



$body-ff:'Rajdhani', sans-serif;


$body-color:#303030;
$primary-color:#FF7900;
$secondary-color:#fff;

$light-dark:#303030;




$dark-gray:#252525;
$medium-gray:#696969;
$light-gray:#ACACAC;

$body-bg:#E5E5E5;

$border-width:1px;