@import "normalize";
@import "variables";
@import "mixins";
@import "slider";
@import "socials";

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  @include font($body-ff, 1.6rem, $fc: $body-color, $lh: 1);
  background-color: $body-bg;

}
a, button {
  cursor: pointer;
}
.mobile-menu-open {
  overflow: hidden;
}
.mobile-menu-overlay {
  @media screen and (min-width: 900px) {
    display: none;
  }
  display: none;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: 20;
  }
}
.mobile-menu-overlay--open {
  display: block;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  cursor:pointer;
  background:rgba(0,0,0,.4); ;
}

.container {
  @media screen and (min-width:1150px) {
  max-width: 1250px;
    margin: 0 auto;
  }
}
a,
button {
  @include tr();
}

img {
  max-width: 100%;
  object-fit: cover;
}

[class*="icon-"]::before,
[class*="icon-"]::after {
  font-family: "Material Icons";
  font-weight: 500;
}

.ul-normalize {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "header/_header.scss";
@import "header/search-field";


.content-wrapper {
  @media screen and (min-width:900px) {
    padding: 15px 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

}
.main {
  @media screen and (min-width:900px) {
    flex: 0 1 70%;
    display: flex;
    flex-direction: column;
  }

}
.left-column {
  @media screen and (min-width:900px) {
    flex:0 1 25% ;
  }
}
.select-catergory {
  @media screen and (min-width: 900px) {
   order: 2;
    margin-bottom: 40px;
  }
  &__title {
    @media screen and (min-width: 900px) {
      margin-left: 0;
    }
    @include page_title();
  }
}

.new-arrivals {
  @media screen and (min-width: 900px) {
    order: 1;
    margin-top: 0;
    margin-bottom: 30px;
  }
  margin-top: 35px;
  position: relative;
  &__title {
    @media screen and (min-width: 900px) {
      margin-left: 0;
    }
    @include page_title();
  }
}

.most-popular {
  @media screen and (min-width: 900px) {
    order: 2;
  }
  margin-top: 35px;
  position: relative;
  &__title {
    @media screen and (min-width: 900px) {
      margin-left: 0;
    }
    @include page_title();
  }
}

.featured {
  @media screen and (min-width: 900px) {
    order: 2;
  }
  margin: 35px 0;
  position: relative;

  &__title {
    @include page_title();
    @media screen and (min-width: 900px) {
      margin-left: 0;
    }
  }
}
.recommended {
  display: none;
  @media screen and (min-width: 900px) {
    order: 2;
    margin-bottom: 50px;
    display: block;
  }
  margin-top: 35px;
  position: relative;

  &__title {
    @include page_title();
    @media screen and (min-width: 900px) {
      margin-left: 0;
    }
  }
}
.breeds {
  @media screen and (min-width: 900px) {
    order: 2;
    position: relative;
  }
  margin-top: 35px;
  position: relative;
  &__btn_wrapper {
    @media screen and (min-width: 900px) {
    position: absolute;
    top: 0;
    right: 0;
    }
    margin-left: 15px;
  }
  &__title {
    @media screen and (min-width: 900px) {
      margin-left: 0;
      margin-bottom: 30px;
    }
    @include page_title();
  }
}

.rating {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    color: $primary-color;
    font-size: 1.6rem;
    &::before {
      content: "\e83a";
    }
    &--filled::before {
      content: "\e838";
    }
  }
  &--reviews {
    display: flex;
  }
  &--product-reviews {
    margin: 13px 0;
    ul {
      justify-content: normal;
    }

  }
}

.price {
  font-size: 1.8rem;
  font-weight: 600;
  color: #444444;
  &--product-card {
    margin: 8px 0;
    text-align: center;
  }
}

.product-card {
  max-width: 215px;
  padding: 10px 18px;
  border: $border-width solid rgba(227, 227, 227, 1);
  border-radius: 4px 4px 0 0;
  background-color: $secondary-color;
 
  position: relative;
  border-bottom-color: transparent;
  &:hover {
    border-bottom-color:transparent;
  }
  &:hover &__bottom{
    @include tr();
    opacity: 1;
    z-index: 3;
  }



  &__wrapper {
    padding-top: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
    display: block;
  }
  &__img {
    min-width: 100%;
    min-height: 100%;
    @include posA();
  }

  &__title {
    margin-top: 10px;
    text-align: center;
    font-size: 1.6rem;
    color: $light-dark;
    font-weight: 600;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 31px;

  }
  &__select-option {
    text-align: center;
  }
  &__bottom {
    width: calc(100% + 2px);
    @include posA($top: auto, $left: calc(50% + 0.16%), $delta_x: -50%, $delta_y: 100%);
    bottom: 0;
    background-color: $secondary-color;
    border: $border-width solid rgba(227, 227, 227, 1);
    border-top: none;

    @media screen and (min-width: 900px) {
      opacity: 0;
      z-index: -3;

    }
    padding: 0 18px 10px;
  }

  &__customer-tools {
    display: none;
    @media screen and (min-width: 900px) {
    display: block;
    margin: 0 0 10px;
    text-align: center;
    }
  }
}

.btn {
  text-decoration: none;
  display: inline-flex;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px 35px;
  font-weight: 600;
  color: $secondary-color;
  border-radius: 2px;
  position: relative;

  &--dropdown-cart {
    padding: 10px 50px;
    margin: 10px;
    @media screen and (min-width: 900px) {
      margin: 10px 0 ;
    }
    img {
      @include posA($top:50%,$left:20px,$delta_x:-50%,$delta_y:-50%);
    }
  }

  &--dropdown-checkout {
    margin: 10px;
    padding: 10px 50px;
    @media screen and (min-width: 900px) {
      margin: 10px 0 ;
    }
    img {
      @include posA($top:50%,$left:20px,$delta_x:-50%,$delta_y:-50%);
    }
  }

  &--shipping-cost {
    padding: 5px 35px;
    color: #555;
    background-color: #EFEFEF;
    border: 1px solid #E3E3E3;
  }

  &--promo-code {
    padding: 5px 35px;
    color: #555;
    background-color: #EFEFEF;
    border: 1px solid #E3E3E3;
  }

  &--continue-shopping {
    padding: 35px 15px 10px;
    background-color: #EFEFEF;
    border: 1px solid #E3E3E3;
    color: #555555;

    img {
      @include posA($top:15px,$left:50%,$delta_x:-50%,$delta_y:-50%);
    }

    @media screen and (min-width: 480px) {
      padding: 10px 25px 10px 50px;
      img {
        @include posA($top:50%,$left:25px,$delta_x:-50%,$delta_y:-50%);
      }
    }

    @media screen and (min-width: 700px) {
    margin-right: 10px;
    }
  }

  &--checkout {
    padding: 35px 25px 10px;
    img {
      @include posA($top:15px,$left:50%,$delta_x:-50%,$delta_y:-50%);
    }
    @media screen and (min-width: 480px) {
      padding: 10px  60px 10px 35px;
      img {
        @include posA($top:50%,$left:auto,$delta_x:-50%,$delta_y:-50%);
        right: 10px;
      }
    }
  }

  &--cart {
    img {
      @include posA($top:45%,$left:20px,$delta_x:-50%,$delta_y:-50%);
    }
    &-primary {
      padding: 10px 20px 10px 30px ;
      @media screen and (min-width: 420px) {
        padding: 10px 40px 10px 50px ;
      }
      @media screen and (min-width: 1100px) {
        padding: 10px 60px 10px 60px ;
      }
    }
  }

  &--review {
    padding: 10px 35px 10px 50px ;
    img {
      @include posA($top:45%,$left:25px,$delta_x:-50%,$delta_y:-50%);
    }
  }

  &--fastOrder {
    padding: 10px 15px 10px 35px ;
    @media screen and (min-width: 420px) {
      padding: 10px 45px 10px 50px ;
    }
    @media screen and (min-width: 1100px) {
      padding: 10px 65px 10px 65px ;
    }
    img {
      @include posA($top:45%,$left:20px,$delta_x:-50%,$delta_y:-50%);
    }
  }

  &--select-options {
    background-color: $primary-color;
    margin-bottom: 10px;
  }

  &--primary {
    background-color: $primary-color;
  }

  &--more {
    position: relative;
    @media screen and (min-width: 900px) {
      background-color:  #888888;

    }
    &::after {
      content: "\e315";
      @include posA($top: 50%, $left: auto, $delta_x: -50%, $delta_y: -50%);
      right: 0;
      font-size: 2rem;
    }
  }
}

.payment-wrapper {
  &--footer {
    padding-top: 20px;
    text-align: center;
    @media screen and (min-width: 900px) {
      padding-top: 0;
    }
    img {
      display: inline-flex;
    }
  }
}

.product-model {
  font-size: 1.4rem;
  font-weight: 500;
  color: #444444;
  text-align: center;
  height: 40px;
  overflow: hidden;
  strong {
    overflow: hidden;
    text-overflow:ellipsis;
  }

}
.customer-tool-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7 ;
    border-color: transparent;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
}

.middle-banner {
  @media screen and (min-width: 900px) {
    order: 1;
    margin-bottom: 30px;
  }
  margin-top: 25px;

  &__wrapper {
    overflow: hidden;
  }
  &__img {
   width: 100%;
  }
}

.breeds-featured {
  max-width: 140px;
  max-height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,.1);
  &__wrapper {
    cursor: pointer;
    width: 100%;
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  5px 5px 0 0;
  }
  &__img {
    max-height: 100%;
  }
  &__name {
    padding:  5px 7px;
    text-align: center;
    background-color: #EAEAEA;
    color: #303030;
    font-weight: 500;
  }
}

.article {
  @media screen and (min-width: 900px) {
    order: 2;
    margin-bottom: 40px;
  }
  border: $border-width solid #e3e3e3;
  margin-top: 50px;
  padding: 25px 15px;
  background-color: $secondary-color;
  &__content {
    p {
      font-weight: 500;
    }
  }

  &__title {
    display: flex;
    h3 {
      margin-top: 0;
      font-size: 2.4rem;
      font-weight: 600;
    }
    img {
      margin-right: 3px;
      align-self: flex-start;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 2rem;
    margin: 10px 0;
  }
  &__image-wrapper {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__link {
    color: $primary-color;
  }

}

.reviews {
  padding: 25px 10px 25px 15px;
  @media screen and (min-width: 900px) {
    padding: 35px 0  ;
  }

  &--display-none {
    display: none;
    @media screen and (min-width: 900px) {
      display: block;
    }
  }

  &--bestsellers {
    display: none;
    @media screen and (min-width: 900px) {
      display: block;

    }
  }
  &__title {

    a {
      text-decoration: none;
      @include page_title(
              $fz: 2rem,
              $fw: 600,
              $ttu: uppercase,
              $cl: $light-dark,
              $mr: 0 0 15px 0
      );
    }
    @media screen and (min-width: 900px) {
      display: inline-block;

      padding: 7px 15px;

      background-color: #666666;
      a {
        display: block;
        color: #fff;
        font-size: 1.6rem;
        margin: 0;
      }

    }
  }


  &__featured {
    margin-left: 15px;
  }
  &__item {
    & + & {
      margin-top: 20px;
    }
    display: flex;
  }
  &__img {
    border-radius: 3px;
    border: $border-width solid rgba(0, 0, 0, 0.3);
    font-size: 0;
    background-color: $secondary-color;
    padding: 2px;
  }
  &__featured {
    border-bottom: $border-width solid rgba(0, 0, 0, 0.3);
    padding: 0 15px 0 0;
    a {
      display: block;
      padding: 5px 0 15px 0;
      color: $light-dark;
      text-decoration: none;
    }
  }
}

.footer {
  background-color: #303030;
  padding: 10px 5px;
  & .social {
    @media screen and (min-width: 900px) {
      order: 1;
      max-width: 260px;
      width: 100%;
      justify-content: flex-start;
      &__item:first-child{
        margin: 5px 5px 0 0 ;
      }
    }
  }
  & .container {
    @media screen and (min-width: 900px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__information {
    padding: 0 10px 15px 20px;
    border-bottom: 1px solid #fff;
    border-radius: 1px;
    @media screen and (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      width: 100%;
      margin-left: auto;
      padding: 0 10px 40px 20px;
    }
  }
  &__copyright {
    padding-top: 30px;
    @media screen and (min-width: 900px) {
      order: 1;
      max-width: 900px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;

    }

    &_link {
      display: inline-flex;
      color: #fff;

      a {
        padding-left: 5px;
        color: #FF7900;
        @include hover() {
          color: #fff;
        }
      }
    }
  }
}

.collapsee {
  position: relative;
  & + & {
    padding-top: 5px;
  }
  &__title {
    background: linear-gradient(90deg, #303030 0%, #1E1E1E 100%);
    margin: 0;
    padding: 10px 0;
    color: #fff;
    @media screen and (min-width: 900px) {
      background: transparent;
      font-size: 2rem;
      span {
        display: none;
      }
    }

  }
  &__icon {
    @include  posA($top:50%,$left:auto,$delta_x:-50%,$delta_y:-50%);
    right: 16px;
    color: rgba(255, 255, 255, 0.6);;
  }
  &__content {
    display: none;
    @media screen and (min-width: 900px) {
      display: block;
    }
  }
  &__list{
    &_item + &_item {
    margin-top: 10px;
    }
    &_item {
      &--faq {
        max-width: 300px;
        span {
          color: #fff;
        }
      }
    }
    &_link {
      color: #FF7900;
      text-decoration: none;
      @include hover() {
        color: #fff;
      }
    }
  }
}

.category-left {
  max-width: 250px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 30;
  overflow: overlay;
  height: 100%;
  transform: translateX(-100%);
  will-change: transform;
  &--open {
    transition: transform .3s ease-in-out;
    transform: translateX(0);
    background-color: #fff;
  }

  @media screen and (min-width: 900px){
    position: static;
    overflow: visible;
    transform: translateX(0);
  }
  &__sidebox {
    border-left: 1px solid rgba(0,0,0,.2);
    border-right: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0 0 3px 3px;


    &_item {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, rgba(0,0,0,0.11) 0%, rgba(0,0,0,0) 100%);
        top: 0;
        left: 0;
      }
      @media screen and (min-width: 900px) {
        & + & {
          border-top: 1px solid rgba(0,0,0,.2);
        }
      }

      background-color: #fff;

    }
    &_link {
      display: block;
      text-decoration: none;
      font-weight: 500;
      color: #000;
      padding: 10px 15px;
      position: relative;
      @media screen and (min-width: 900px) {
        position: static;
      }
    }

    &_icon {
      @include posA($top:50%,$left:auto,$delta_x:-50%,$delta_y:-50%);
      right: 5px;
    }
  }

  &__title-mobile {

      &_close_wrapper {
        display: flex;
        justify-content: right;
        padding: 5px 5px;
      }
      &_close {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        color: #696969;
        font-size: 2rem;
        margin-left: auto;
      }
    a {
      text-decoration:none;
      display: block;
      padding: 5px 15px;
      color: #000;
    }
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    @media screen and (min-width: 900px) {
    display: none;

    }
  }

  &__title {
    display: none;
    @media screen and (min-width: 900px) {
      display: block;
    }
    img {
      padding-right: 10px;
    }
    border-radius: 3px 3px 0 0;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 10px 60px 10px 20px;
    background-color: #FF7900;
  }
}


.product-header {
  background-color: #303030;

  padding: 5px 16px;
  display: flex;
  justify-content: space-between;

  &__price {
    span {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 600;
      height: 100%;
      display: flex;
      align-items: center;
    }

  }
}

.breadcrumbs {
  padding: 11px 16px ;
  @media screen and (min-width: 900px) {
    padding: 11px 0 ;
  }
  &-list {
    border-radius: 3px;
    background: linear-gradient(90deg, #EDEDED 0%, #F9F9F9 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding-left: 10px;
  }
  &-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #555555;
    span {
      color: #C4C4C4;
    }


  }
}

.product-daily-view {
  &-desktop {
    @media screen and (min-width: 900px) {
    display: flex;
    order: 1;
    margin-top: 10px;
    }
    &_rating {
      display: none;
      @media screen and (min-width: 900px) {
        display: flex;

        & .rating {
          margin-right: 5px;
        }
        & .customer-reviews__count {
          margin-right: 5px;
        }
      }
      margin-right: 20px;
    }
  }
  color:  #303030;

  &_count {
    color: #fff;
    line-height: 18px;
    padding: 0 5px;
    background-color: #FF7900;
    border-radius: 1px;
  }
}

.product-info {
  border-width: 1px;
  border-style: solid;
  border-image:linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 43.13%);
  padding: 0 16px 15px;
  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: column;
  }
  &_model {
    @media screen and (min-width: 900px) {
      position: relative;
      padding: 0 0 10px;
      &:before {
        content: '';
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 43.13%);
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
      }

    }
  }
  &_title {
    margin-bottom: 10px;
    @media screen and (min-width: 900px) {
      margin: 10px 0;
    }
  }
}

.product-image-wrapper {
  padding: 0 16px;
  @media screen and (min-width: 900px) {
    flex: 0 1 45%;
  }
  &_img {
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 900px) {
      margin: 0;
    }
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.3);
  }
}

.product-image-list {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  @media screen and (min-width: 900px) {
    justify-content: normal;
  }

  &_item {
    position: relative;
    width: 65px;
    padding-top: 25%;
    overflow: hidden;
    @media screen and (min-width: 420px) {
      padding-top: 15%;
    }
    @media screen and (min-width: 720px) {
      padding-top: 10%;
    }
    @media screen and (min-width: 900px) {
      padding-top: 22%;
    }
    & + & {
      margin-left: 10px;
    }
  }
  &_img {
    @include posA();
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.3);
    object-fit: cover;
  }
}

.product-attributes {
  border-radius: 3px;
  margin-top: 45px;
  background-color: #444444;
  padding: 25px 20px;
  @media screen and (min-width: 900px) {
    margin-top: 0;
    padding: 25px 0 0;
    background-color: #F6F6F6;
    border: 1px solid #E3E3E3;
    box-shadow: 0 0 60px -44px #000000;
    border-radius: 3px;
  }
}

.wrapperAttribsOptions  {
  @media screen and (min-width: 900px) {
    padding: 0 20px;
  }
  & + & {
    margin-top: 20px;
  }
  &--qty {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 3px;
  }
  padding-bottom: 20px;
}

.attribute-label {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  @media screen and (min-width: 900px) {
    color: #303030;
  }
}

.select-color {
  display: flex;
  &_option + &_option {
    margin-left: 10px;
  }
  &_input {
    display: none;
  }
  &_title {
    display: inline-block;
    margin-top: 5px;
    font-size: 1.4rem;
    color: #333333;
    font-weight: 500;
  }
  &_icon {
    &--black {
      background-color: #000;
    }
    &--brown {
      background-color: #6A331F;
    }
    span {
      line-height: 32px;
      color: transparent;

    }
    border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 32px;

    .select-color_label--active &  {
      span {
        color: #fff;
      }
    }
  }
  &_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 80px;
    background: rgba(242, 242, 242, 0.7);
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    @include hover() {
      cursor: pointer;
    }
    &--active {
      border: 2px solid #FF7900;
      box-shadow: 0 0 7px #FF7900;
      background: #fff;
    }
  }

}

.select-attributes {
  appearance:none;
  max-width: 300px;
  width: 100%;
  display: block;
  padding: 10px 13px;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  background-image: url("../../img/select-arrow.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y:50%;
  @media screen and (min-width: 420px) {
    max-width: none;
  }
}

.product-qty {
  display: flex;
  align-items: center;
  &_plus,
  &_minus {
    font-size: 2rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    width: 32px;
    line-height: 36px;
    color: #fff;
    height: 36px;
    background-color: #787878;
    @include hover() {
      cursor: pointer;
    }
  }
  &_minus {
    border-radius: 3px 0 0 3px;
  }
  &_plus {
    border-radius: 0 3px 3px 0;
  }
  &_input {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    width: 50px;
    height: 45px;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-price {
  color: #fff;
  font-weight: 600;
  font-size: 2.7rem;
  @media screen and (min-width: 900px) {
    color: #303030;
  }
}

.cartAdd-box {
  margin-top: 20px;
  @media screen and (min-width: 900px) {
    background-color: #FFFFFF;
    padding: 25px 20px;
  }
  &__btns {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    @media screen and (min-width: 900px) {
      flex-flow: row wrap;
      a  {
        margin-top: 10px;
      }
    }
  }
}

.customer-tools {
  padding: 30px 16px 20px;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 900px) {
    padding: 30px 0 20px;
    justify-content: flex-start;
  }
  &__link {
    color: #6A6A6A;
    text-decoration: none;
    display: flex;
    align-items: center;
    @media screen and (min-width: 900px) {
      margin-right: 10px;
    }
  }
  &__text {
    margin-left: 5px;
  }
}

.product-description {

  &_info {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding-bottom: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: 900px) {
      border-left: 1px solid #E3E3E3;
      border-right: 1px solid #E3E3E3;
      border-bottom: 1px solid #E3E3E3;
      border-radius: 3px;
    }
    h2 {
      border-radius: 3px 3px 0 0;
      font-size: 1.8rem;
      color: #fff;
      font-weight: 600;
      background-color: #666666;
      padding: 8px 16px;
      line-height: 1.2;
      @media screen and (min-width: 900px) {
        margin-top: 0;
      }
    }
  }
  &_content {
    padding: 0 16px;
    @media screen and (min-width: 900px) {
      padding: 0;
      p {
        padding: 0 16px;
      }

    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  &__highlighted {
    @media screen and (min-width: 900px) {
    padding: 0 16px;
    }
    &_list {
      padding-left: 20px;
      li + li {
        margin-top: 20px;
      }
    }
  }
}

.product-features {
  margin-top: 40px;
  margin-bottom: 40px;
  &__content {
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 20px 0;
    @media screen and (min-width: 900px) {
      display: flex;
      flex-flow: row wrap;
      padding: 0 ;
    }
  }
  &__title {
    img {
      margin-right: 5px;
    }
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  &__wrapper {
    @media screen and (min-width: 900px) {
    flex: 0 1 50%;
      &:nth-child(even) {
        border-left: 1px solid #E3E3E3;
      }
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid #E3E3E3;
      }
      padding: 16px 16px;
    }

    & + & {
      border-top: 1px solid rgba(0,0,0,.2);
      padding-top: 25px;
      @media screen and (min-width: 900px) {
        border-top: none;

      }
    }
    padding-bottom: 25px;
  }
}

.product-description-title-bg {
  background-image: url("../../img/product-title-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.customer-reviews {
  border-bottom: 1px solid rgba(0,0,0,.3);
  background-color: #fff;
  @media screen and (min-width: 900px) {

    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3 ;
    padding-bottom: 30px;
  }
  &__title {
    border-radius: 3px 3px 0 0;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    background-color: #666666;
    padding: 8px 16px;
    line-height: 1.2;
  }
  &__btn {
    margin: 30px 0 ;
    text-align: center;
  }
  &-list {
    &_item {
      padding-bottom: 15px;
      &:last-of-type {
        border-bottom: 1px solid rgba(0,0,0,.3);
      }
      & + & {
        padding-top: 15px;
        border-top: 1px solid rgba(0,0,0,.3);
      }
    }

    padding: 0 16px;
    &_about {
      span {
        display: inline-block;
        width: 100%;
        font-size: 1.5rem;
      }
    }

    &_review {
      font-weight: 500;
      font-size: 1.6rem;
      color: #303030;
    }
  }
}

.product-images-centered {
  display: block;
  margin: 0 auto;
}

.customer-purchased {
  @media screen and (min-width: 900px) {
    //margin-bottom: 50px;
  }
  margin: 35px 0 ;
  position: relative;

  &__title {
    @include page_title();
    max-width: 225px;
    @media screen and (min-width: 900px) {
      margin-left: 0;
    }
  }
}

.product-desktop-wrapper {
  @media screen and (min-width: 900px) {
    display: flex;
  }
}

.attribute-desktop-wrapper {
  @media screen and (min-width: 900px) {
    flex: 0 1 55%;
  }
}

.product-description-desktop-wrapper {
  @media screen and (min-width: 900px) {
    display: flex;
  }

}

.description-navigation {
  display: none;
  @media screen and (min-width: 900px) {
    display: block;
  }
  &__list {
    position: sticky;
    top: 10px;
    margin-right: 10px;
    width: 190px;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    background: #FFFFFF;
  }
  &__item {
    padding: 10px 15px;
    position: relative;
    & + & {
      &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%);
        top: 0;
        left: 0;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #303030;
    display: block;
    font-weight: 500;
    @include tr;
    @include hover() {
      font-weight: 600;
    }
  }
}
@import "shopping-cart";

@keyframes shakeTrash {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0);
  }
}

.dropdown-cart__delete:hover img  {
  cursor:pointer;
  animation: shakeTrash .3s ease-out;
}

.add-cart-popup {
  max-width: 450px;
  width: 100%;
  outline: 1px solid red;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  display: none;
}
@import "dropdown-left-menu";
@import "products-category";
@import 'registration-page';

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex:0 1 70%;
  max-width: 860px;
}
.footer__width {
  flex: 0 1 30%;
}
.category-left {
  height: auto;
}
.product-card__label {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: -10px;
}
.product-card__label_new {
  color: #fff;
  display: inline-flex;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
  -moz-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.3);
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.3);
  padding: 3px 5px;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #333 0%, #252525 100%);
}